<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание ученика</title>
</head>
<body>
<h1>Введите данные ученика для создания</h1>
<form th:object="${student}" method="post" action="/student/saveStudent">
    <label for="name">ФИО:</label>
    <input type="text" id="name" name="name" required th:value="${student.name}"/>
    <br> <br>
    <label for="studentClass">Класс:</label>
    <select id="studentClass" name="studentClass" required>
        <option th:each="class : ${studentClasses}" th:value="${class.id}" th:text="${class.title}"></option>
    </select>
    <br> <br>
    <label for="user">Родитель 1:</label>
    <select id="user" name="user" required>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
    <br> <br>
    <label for="user">Родитель 2:</label>
    <select id="user1" name="user">
        <option value="">Не заполнять</option>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
    <br> <br>
    <button type="submit">Создать</button>
</form>
<br>
<a href="/admin">На главную страницу</a>
</body>
</html>
