<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список учеников</title>
</head>
<body>
<h1>Список учеников</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>ФИО</th>
    <th>Класс</th>
    <th>Родители</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${students}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.name}"></td>
    <td th:text="${student.studentClass.title}"></td>
    <td th:text="${student.user[0].name}"></td>
    <td th:if="${student.user.size() > 1}" th:text="${student.user[1].name}"></td>
    <td th:unless="${student.user.size() > 1}"> --- </td>
    <td>
      <form th:object="${student}" th:action="@{/student/edit(id=${student.id})}" method="post">
        <button type="submit">Редактировать</button>
      </form>
    </td>
    <td>
      <form th:object="${student}" th:action="@{/student/delete(id=${student.id})}" method="post">
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<br>
<a href="/admin">На главную страницу</a>
</body>
</html>