<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Lesson</title>
</head>
<body>
<h2>Добавить новый урок</h2>
<form th:object="${lesson}" method="post" action="/lesson/saveLesson">
  <label for="lessonTime">Дата и время проведения урока в формате dd-mm-yy HH:mm:</label>
  <input type="text" id="lessonTime" name="lessonTime" required />
  <br> <br>
  <label for="teacher">ФИО учителя:</label>
  <input type="text" id="teacher" name="teacher.name" required />
  <br> <br>
  <label for="studentClass">Название класса:</label>
  <input type="text" id="studentClass" name="studentClass.title" required />
  <br> <br>
  <label for="predmet">Предмет:</label>
  <input type="text" id="predmet" name="predmet.title" required />
  <br> <br>
  <input type="hidden" id="homework" name="homework.description" value="" />
  <br>
  <button type="submit">Добавить</button>
</form>

</body>
</html>