<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск уроков</title>
</head>
<body>
<h1>Введите данные для поиска</h1>
<form method="get" action="/lesson/newSearch">
    <label for="teacherName">Учитель:</label>
    <select id="teacherName" name="teacherName" required>
        <option th:each="teacher : ${teachers}" th:text="${teacher.name}"></option>
    </select>
    <br> <br>
    <label for="className">Класс:</label>
    <select id="className" name="className" required>
        <option th:each="class : ${classes}" th:text="${class.title}"></option>
    </select>
    <br> <br>
    <label for="subjectName">Предмет:</label>
    <select id="subjectName" name="subjectName" required>
        <option th:each="predmet : ${predmets}" th:text="${predmet.title}"></option>
    </select>
    <br> <br>
    <h3>Введите дату и время для поиска</h3>
    <label for="lessonTimeFrom">От:</label>
    <input type="datetime-local" id="lessonTimeFrom" required name="lessonTimeFrom" />
    <br> <br>
    <label for="lessonTimeTo">До:</label>
    <input type="datetime-local" id="lessonTimeTo" required name="lessonTimeTo" />
    <br> <br>
    <button type="submit">Найти</button>
    <br> <br>
</form>
<button onclick="window.history.back()">Вернуться на предыдущий экран</button>
<br> <br>
<a href="/teacher">На главную страницу</a>
</body>
</html>