<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Изменить дз</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Введите домашнее задание по уроку:</h2>

<form th:object="${lesson}" th:action="@{/homework/update}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <table>
    <tr>
      <td>Учитель:</td>
      <td><label>
        <input type="text" th:field="*{teacher.name}" readonly/>
      </label></td>
    </tr>
    <tr>
      <td>Класс:</td>
      <td><label>
        <input type="text" th:field="*{studentClass.title}" readonly/>
      </label></td>
    </tr>
    <tr>
      <td>Предмет:</td>
      <td><label>
        <input type="text" th:field="*{predmet.title}" readonly/>
      </label></td>
    </tr>
    <tr>
      <td>Домашнее задание:</td>
      <td><label>
        <input type="text" th:field="*{homework.description}" />
      </label></td>
    </tr>
    <tr>
      <td>Время урока:</td>
      <td><label>
        <textarea th:field="*{lessonTime}" style="resize: none;" readonly></textarea>
      </label></td>
    </tr>
    <tr>
      <td><button type="submit">Обновить</button></td>
    </tr>
  </table>
</form>
<br>
<button onclick="window.history.back()">Вернуться на предыдущий экран</button>
<br> <br>
<a href="/teacher">На главную страницу</a>
</body>
</html>