<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск ученика</title>
</head>
<body>
<h1>Выберете ученика</h1>
<form th:object="${mark}" method="post" action="/mark/saveMark">
    <input type="hidden" id="lesson" name="lesson" th:value="${lesson.id}"/>
    <label for="student">Ученик:</label>
    <select id="student" name="student" required>
        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}"></option>
    </select>
    <br> <br>
    <label for="value">Оценка:</label>
    <select id="value" name="value" required>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br> <br>
    <button type="submit">Поставить оценку</button>
    <br> <br>
</form>
<button onclick="window.history.back()">Вернуться на предыдущий экран</button>
<br> <br>
<a href="/teacher">На главную страницу</a>
</body>
</html>