<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Расписание</title>
</head>
<body>
<h2>Выберите студента и дату для получения расписания</h2>

<form action="#" th:action="@{/viewSchedule}" method="post">
  <div>
    <label>Выберите ученика:</label>
    <label>
      <select name="studentId">
        <option th:each="student : ${students}" th:text="${student.name}" th:value="${student.id}"></option>
      </select>
    </label>
  </div>

  <div>
    <label>Выберите дату:</label>
    <label>
      <input type="date" name="scheduleDate" />
    </label>
  </div>

  <button type="submit">Найти расписание</button>
  <br>
  <a href="/parent">На главную страницу</a>
</form>
</body>
</html>